
<form #registerForm="ngForm" (submit)="submit()">
  <div class="register mt-5 p-4">
    <div class="form-group text-center"><h2>Sign Up</h2></div>
    <hr />
    <div class="form-group">
      <input type="text" class="form-control" name="fullName" placeholder="Full Name" [(ngModel)]="userDTO.fullName" required />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="userName" placeholder="User Name" [(ngModel)]="userDTO.userName" required />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="userDTO.password" required />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required />
    </div>
    <hr />
    <div class="form-group text-center">
      <input type="submit" class="btn btn-success mr-2" value="Register" />
      <input type="button" class="btn btn-danger" value="Cancel" (click)="cancel()" />
    </div>
  </div>
</form>
